<h3>View Sales Details</h3>
<div>
  <div>
    <label> <b>Invoice No: </b> {{ sales.invoiceNo }} </label>
  </div>
  <div>
    <label> <b>Stock Code: </b> {{ sales.stockCode }} </label>
  </div>
  <div>
    <label> <b>Description: </b> {{ sales.description }} </label>
  </div>
  <div>
    <label> <b>Quantity: </b> {{ sales.quantity }} </label>
  </div>
  <div>
    <label> <b>Invoice Date: </b> {{ sales.invoiceDate }} </label>
  </div>
  <div>
    <label> <b>Unit Price: </b> {{ sales.unitPrice }} </label>
  </div>
  <div>
    <label> <b>Customer ID: </b> {{ sales.customerID }} </label>
  </div>
  <div>
    <label> <b>Country: </b> {{ sales.country }} </label>
  </div>
</div>
